streamlit
pandas
selenium
python-dotenv
groq
chromadb
sentence-transformers
twilio
plotly
beautifulsoup4
lxml
unstructured[local-inference] # This bundles pytesseract and other dependencies
webdriver-manager
