# Use a version of chromadb known to be compatible with Streamlit Cloud's environment
chromadb==0.4.15

# Your other direct dependencies
streamlit
pandas
selenium
python-dotenv
groq
sentence-transformers
twilio
plotly
beautifulsoup4
lxml
unstructured[local-inference]
webdriver-manager
